{% include '../layouts/header.twig' %}
<div class="container">
    <div class="row">
        <div class="col s8 offset-s2 m6 offset-m3 l5 offset-l3">
            <h2>Вход</h2>
            <form class="col s12" method="POST" action="{{ route('login') }}">
                {{ csrf_field() }}
                <div class="row">
                    <div class="input-field col s12">
                        <input id="login" name="login" type="text" value="{{ old('login') }}" required
                               autofocus>
                        <label for="login">Имя пользователя</label>
                        {% if errors.has('login') %}
                            <span class="help-block">
                                <strong>{{ errors.first('login') }}</strong>
                            </span>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="password" name="password" type="password" class="validate" required>
                        <label for="password">Пароль</label>
                        {% if errors.has('password') %}
                            <span class="help-block">
                                <strong>{{ errors.first('password') }}</strong>
                            </span>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s4">
                        <button class="btn waves-effect waves-light" type="submit" name="submit">Вход</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% include '../layouts/footer_clear.twig' %}