{% include 'layouts/user_header.twig' %}
<div class="container">
    <h2>Редактирование данных администратора</h2>
    <div class="row">
        {% if errors.count>0 %}
            <div class="card-panel red lighten-5">
                {% for error in errors.all() %}
                    <li>{{ error }}</li>
                {% endfor %}
            </div>
        {% endif %}
        <form class="col s12" action="{{ route('users.update', [user.id]) }}" method="post">
            {{ csrf_field() }}
            <div class="row">
                <div class="input-field col s12">
                    <input value="{{ user.name }}" id="name" name="name" type="text" class="validate" required autofocus>
                    <label for="name" data-error="wrong" data-success="right">Имя пользователя</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="login" name="login" type="text" value="{{ user.login }}" required>
                    <label for="login" data-error="wrong" data-success="right">Login</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s2">
                    <button type="submit" class="btn btn-default">Сохранить</button>
                </div>
                <div class="input-field col s2">
                    <a class="btn waves-effect waves-light red lighten-2" href="{{ route('users') }}">Отмена</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% include 'layouts/footer.twig' %}
