{% include 'layouts/user_header.twig' %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <h2>Справочник администраторов</h2>
                {% if app.session.has('message') %}
                    <div class="card-panel light-green lighten-4">
                        {{ app.session.get('message') }}
                    </div>
                {% endif %}
                {% if errors.count>0 %}
                    <div class="card-panel red lighten-5">
                        {% for error in errors.all() %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="card-panel teal lighten-5">
                    <div class="row">
                        <form class="col s12" action="{{ route('users') }}" method="post">
                            {{ csrf_field() }}
                            <div class="input-field col s12 m6 l4">
                                <input id="name" name="name" type="text" value="{{ old('name') }}" required
                                       autofocus>
                                <label for="name" data-error="wrong" data-success="right">Имя пользователя</label>
                            </div>
                            <div class="input-field col s12 m6 l3">
                                <input id="login" name="login" type="text" value="{{ old('login') }}" required>
                                <label for="login" data-error="wrong" data-success="right">Login</label>
                            </div>
                            <div class="input-field col s8 m6 l3">
                                <input id="password" name="password" type="password" required>
                                <label for="password" data-error="wrong" data-success="right">Пароль</label>
                            </div>
                            <div class="input-field col s4 m6 l2">
                                <button type="submit" class="btn btn-default">Добавить</button>
                            </div>
                        </form>
                    </div>
                </div>
                <table class="striped">
                    <thead>
                    <th width="40%">Имя пользователя</th>
                    <th width="40%">Логин</th>
                    <th width="20%">Операции</th>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td class="table-text">
                                <a href="{{ route('users.edit', [user.id]) }}">{{ user.name }}</a>
                            </td>
                            <td class="table-text">
                                {{ user.login }}
                            </td>
                            <td>
                                <table>
                                    <tr>
                                        <td width="50px">
                                            <a href="{{ route('users.reset', [user.id]) }}"
                                               class="btn waves-effect waves-light">Пароль<i
                                                        class="material-icons right">edit</i></a>
                                        </td>
                                        <td width="50px">
                                            <form method="post" action="{{ route('users.delete', [user.id]) }}">
                                                <input type="hidden" name="_method" value="delete"/>
                                                <input type="hidden" name="_token" value="{{ csrf_token() }}"/>
                                                <button type="submit"
                                                        class="btn waves-effect waves-light red lighten-2">Удалить<i
                                                            class="material-icons right">delete</i></button>
                                            </form>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% include 'layouts/footer.twig' %}
