{% include 'layouts/user_header.twig' %}
<div class="container">
    <h2>Изменение пароля</h2>
    <div class="row">
        {% if (errors.count>0) or (app.session.has('message')) %}
            <div class="card-panel red lighten-5">
                {% for error in errors.all() %}
                    <li>{{ error }}</li>
                {% endfor %}
            </div>
        {% endif %}
        <form class="col s12" action="{{ route('users.store_password', [user.id]) }}" method="post">
            <input type="hidden" name="_method" value="put"/>
            {{ csrf_field() }}
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" name="password" type="password" class="validate" required autofocus>
                    <label for="password">Пароль</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password_confirm" name="password_confirm" type="password" required>
                    <label for="password_confirm">Пароль повторно</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s2">
                    <button type="submit" class="btn btn-default">Сохранить</button>
                </div>
                <div class="input-field col s2">
                    <a class="btn waves-effect waves-light red lighten-2" href="{{ route('users') }}">Отмена</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% include 'layouts/footer.twig' %}
