{% include 'layouts/guest_header.twig' %}
<div class="container">
    <h2>Задайте свой вопрос</h2>
    <div class="row">
        <form class="col s12" action="{{ route('front.store') }}" method="post">
            {{ csrf_field() }}
            <div class="row">
                <div class="input-field col s6">
                    <input value="{{ old('question') }}" id="name" name="name" type="text" required autofocus>
                    <label for="name">Ваше имя</label>
                </div>
                <div class="input-field col s6">
                    <input value="{{ old('email') }}" id="email" name="email" type="email" class="validate" required>
                    <label for="email" data-error="Некорректный адрес">E-Mail</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input value="{{ old('question') }}" id="question" name="question" type="text" required>
                    <label for="question">Текст вопроса</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <select name="thread_id" id="thread_id">
                        <option value="" disabled>Выберите тему</option>
                        {% for thread in threads %}
                        <option value="{{ thread.id }}" {{ thread.id == old('thread_id') ? 'selected' : '' }}>{{ thread.name }}</option>
                        {% endfor %}
                    </select>
                    <label for="thread_id">Тема</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s2">
                    <button type="submit" class="btn btn-default waves-effect waves-light">Отправить</button>
                </div>
                <div class="input-field col s2">
                    <a class="btn waves-effect waves-light red lighten-2" href="{{ route('front.index') }}">Отмена</a>
                </div>
            </div>
        </form>
    </div>
</div>
<script language="JavaScript">
    $(document).ready(function() {
        $('select').material_select();
    });
</script>
{% include 'layouts/footer.twig' %}
