{% include 'layouts/guest_header.twig' %}
<div class="container">
    {% if app.session.has('message') %}
        <div class="row">
            <div class="card-panel light-green lighten-4">
                {{ app.session.get('message') }}
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col s12 m4">
            <div class="collection">
                {% for thread in threads %}
                    {% if thread.questionsPublished.count > 0 %}
                        <a href="#thread{{ thread.id }}" class="collection-item"><span
                                    class="badge">{{ thread.questionsPublished.count }}</span>{{ thread.name }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="col s12 m8">
            {% for thread in threads %}
                {% if thread.questionsPublished.count > 0 %}
                    <h3 id="thread{{ thread.id }}">{{ thread.name }}</a></h3>
                    {% for question in thread.questionsPublished %}
                        <p><strong>{{ loop.index }}. {{ question.question }}</strong></p>
                        <p>{{ question.answer }}</p>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% include 'layouts/footer.twig' %}
