td {
    padding: 5px;
}

.card-panel .row {
    margin-bottom: 5px;
}

.small {
    font-size: 0.8em;
}

.page-footer-small {
    padding-top: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#sidenav-overlay {
    z-index: 996;
}