{% include 'layouts/user_header.twig' %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <h2>Справочник тем</h2>
                {% if app.session.has('message') %}
                    <div class="card-panel light-green lighten-4">
                        {{ app.session.get('message') }}
                    </div>
                {% endif %}
                {% if errors.count>0 %}
                    <div class="card-panel red lighten-5">
                        {% for error in errors.all() %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="card-panel teal lighten-5">
                    <div class="row">
                        <form class="col s12" action="{{ route('threads') }}" method="post">
                            {{ csrf_field() }}
                            <div class="input-field col s8 m9">
                                <input id="name" name="name" type="text" value="{{ old('name') }}" required
                                       autofocus>
                                <label for="name" data-error="wrong" data-success="right">Новая тема</label>
                            </div>
                            <div class="input-field col s4 m3">
                                <button type="submit" class="btn btn-default">Добавить</button>
                            </div>
                        </form>
                    </div>
                </div>
                <table class="table striped">
                    <thead>
                    <th width="60%">Тема</th>
                    <th width="10%">Вопросов</th>
                    <th width="10%">Опубликовано</th>
                    <th width="10%">Без ответа</th>
                    <th>Операции</th>
                    </thead>
                    <tbody>
                    {% for thread in threads %}
                        <tr>
                            <td class="table-text">
                                <a href="{{ route('threads.edit', [thread.id]) }}">{{ thread.name }}</a>
                            </td>
                            <td>{{ thread.questions.count }}</td>
                            <td>{{ thread.questionsPublished.count }}</td>
                            <td>{{ thread.questionsAwaiting.count }}</td>
                            <td>
                                <table>
                                    <tr>
                                        <td width="50px">
                                            <a href="{{ route('threads.edit', [thread.id]) }}"
                                               class="btn waves-effect waves-light">Изменить<i
                                                        class="material-icons right">edit</i></a>
                                        </td>
                                        <td width="50px">
                                            <form method="post" action="{{ route('threads.delete', [thread.id]) }}">
                                                <input type="hidden" name="_method" value="delete"/>
                                                <input type="hidden" name="_token" value="{{ csrf_token() }}"/>
                                                <button type="submit"
                                                        class="btn waves-effect waves-light red lighten-2">Удалить<i
                                                            class="material-icons right">delete</i></button>
                                            </form>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% include 'layouts/footer.twig' %}
