{% include 'layouts/user_header.twig' %}
<div class="container">
    <h2>Редактирование вопроса</h2>
    <div class="row">
        <form class="col s12" action="{{ route('questions.update', [question.id]) }}" method="post">
            {{ csrf_field() }}
            <div class="row">
                <div class="input-field col s12">
                    <select name="people_id" id="people_id">
                        <option value="" disabled>Выберите имя автора</option>
                        {% for people in peoples %}
                            <option value="{{ people.id }}" {{ people.id == question.people_id ? 'selected' : '' }}>{{ people.name }}</option>
                        {% endfor %}
                    </select>
                    <label for="people_id">Автор вопроса</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input value="{{ question.question }}" id="question" name="question" type="text" required autofocus>
                    <label for="question">Текст вопроса</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="answer" name="answer" class="materialize-textarea">{{ question.answer }}</textarea>
                    <label for="answer">Текст ответа</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s8">
                    <select name="thread_id" id="thread_id">
                        <option value="" disabled>Выберите тему</option>
                        {% for thread in threads %}
                        <option value="{{ thread.id }}" {{ thread.id == question.thread_id ? 'selected' : '' }}>{{ thread.name }}</option>
                        {% endfor %}
                    </select>
                    <label for="thread_id">Тема</label>
                </div>
                <div class="input-field col s4">
                    <select name="state" id="state">
                        <option value="" disabled>Выберите статус</option>
                        <option value="1" {{ question.state == 1 ? 'selected' : '' }}>Ожидает ответа</option>
                        <option value="2" {{ question.state == 2 ? 'selected' : '' }}>Опубликован</option>
                        <option value="3" {{ question.state == 3 ? 'selected' : '' }}>Скрыт</option>
                    </select>
                    <label for="state">Статус</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s2">
                    <button type="submit" class="btn btn-default waves-effect waves-light">Сохранить</button>
                </div>
                <div class="input-field col s2">
                    <a class="btn waves-effect waves-light red lighten-2" href="{{ route('questions') }}">Отмена</a>
                </div>
            </div>
        </form>
    </div>
</div>
<script language="JavaScript">
    $(document).ready(function() {
        $('select').material_select();
    });
</script>
{% include 'layouts/footer.twig' %}
