{% include 'layouts/user_header.twig' %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <h2>Список вопросов</h2>
                {% if app.session.has('message') %}
                    <div class="card-panel light-green lighten-4">
                        {{ app.session.get('message') }}
                    </div>
                {% endif %}
                {% if errors.count>0 %}
                    <div class="card-panel red lighten-5">
                        {% for error in errors.all() %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="card-panel deep-purple lighten-5">
                    <div class="row">
                        <form method="get" action="{{ route('questions') }}">
                            <div class="input-field col s12 m5 l5">
                                <select name="thread_id" id="thread_id">
                                    <option value="" disabled>Выберите тему</option>
                                    <option value="">Все темы</option>
                                    {% for thread in threads %}
                                        <option value="{{ thread.id }}" {{ thread.id == thread_id ? 'selected' : '' }}>{{ thread.name }}</option>
                                    {% endfor %}
                                </select>
                                <label for="thread_id">Фильтр по теме</label>
                            </div>
                            <div class="input-field col s8 m4 l5">
                                <select name="state" id="state">
                                    <option value="" disabled>Выберите статус</option>
                                    <option value="">Все</option>
                                    <option value="1" {{ state == 1 ? 'selected' : '' }}>Ожидающие ответа</option>
                                    <option value="2" {{ state == 2 ? 'selected' : '' }}>Опубликованные</option>
                                    <option value="3" {{ state == 3 ? 'selected' : '' }}>Скрытые</option>
                                </select>
                                <label for="thread_id">Фильтр по статусу</label>
                            </div>
                            <div class="input-field col s4 m3 l2">
                                <button name="submit" class="btn btn-default">Выбрать</button>
                            </div>
                        </form>
                    </div>
                </div>
                <table class="table striped">
                    <thead>
                    <th width="25%">Вопрос</th>
                    <th>Спросил</th>
                    <th>Ответил</th>
                    <th>Статус</th>
                    <th>Дата</th>
                    <th width="20%">Операции</th>
                    </thead>
                    <tbody>
                    {% for question in questions %}
                        <tr>
                            <td class="table-text">
                                <a href="{{ route('questions.edit', [question.id]) }}">{{ question.question | slice (0, 100) }}</a><br/>
                                <span class="small">{{ question.thread.name }}</span>
                            </td>
                            <td class="table-text">
                                {{ question.people.name }}
                            </td>
                            <td class="table-text">
                                {{ question.answered.name }}
                            </td>
                            <td class="table-text">
                                {% if question.state == 2 %}
                                    Опубликован
                                {% elseif question.state == 3 %}
                                    Скрыт
                                {% else %}
                                    Ожидает ответа
                                {% endif %}
                            </td>
                            <td class="table-text">
                                {{ question.created_at }}
                            </td>
                            <td>
                                <table>
                                    <tr>
                                        <td width="50px">
                                            {% if question.state == 2 %}
                                                <form method="post"
                                                      action="{{ route('questions.unpublish', [question.id]) }}">
                                                    <input type="hidden" name="_method" value="put"/>
                                                    <input type="hidden" name="_token" value="{{ csrf_token() }}"/>
                                                    <button type="submit"
                                                            class="btn waves-effect waves-light blue-grey lighten-2">
                                                        Скрыть
                                                        <i class="material-icons right">visibility_off</i></button>
                                                </form>
                                            {% else %}
                                                <form method="post"
                                                      action="{{ route('questions.publish', [question.id]) }}">
                                                    <input type="hidden" name="_method" value="put"/>
                                                    <input type="hidden" name="_token" value="{{ csrf_token() }}"/>
                                                    <button type="submit"
                                                            class="btn waves-effect waves-light blue-grey lighten-2">
                                                        Опубликовать
                                                        <i class="material-icons right">visibility</i></button>
                                                </form>
                                            {% endif %}
                                        </td>
                                        <td width="50px">
                                            <form method="post" action="{{ route('questions.delete', [question.id]) }}">
                                                <input type="hidden" name="_method" value="delete"/>
                                                <input type="hidden" name="_token" value="{{ csrf_token() }}"/>
                                                <button type="submit"
                                                        class="btn waves-effect waves-light red lighten-2">Удалить<i
                                                            class="material-icons right">delete</i></button>
                                            </form>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script language="JavaScript">
    $(document).ready(function () {
        $('select').material_select();
    });
</script>
{% include 'layouts/footer.twig' %}
