{% include 'layouts/user_header.twig' %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default">
                <h2>Справочник посетителей</h2>
                {% if app.session.has('message') %}
                    <div class="card-panel light-green lighten-4">
                        {{ app.session.get('message') }}
                    </div>
                {% endif %}
                {% if errors.count>0 %}
                    <div class="card-panel red lighten-5">
                        {% for error in errors.all() %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </div>
                {% endif %}
                <table class="table striped">
                    <thead>
                    <th>Имя пользователя</th>
                    <th>E-Mail</th>
                    <th>Статус</th>
                    <th>Операции</th>
                    </thead>
                    <tbody>
                    {% for people in peoples %}
                        <tr>
                            <td class="table-text">
                                {{ people.name }}
                            </td>
                            <td class="table-text">
                                {{ people.email }}
                            </td>
                            <td class="table-text">
                                {% if people.is_banned == 1 %}
                                    Забанен
                                {% else %}
                                    Активен
                                {% endif %}
                            </td>
                            <td>
                                <form method="post" action="{{ route('peoples.ban', [people.id]) }}">
                                    <input type="hidden" name="_method" value="put"/>
                                    <input type="hidden" name="_token" value="{{ csrf_token() }}"/>
                                    <button type="submit"
                                            class="btn waves-effect waves-light red lighten-2">Бан</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% include 'layouts/footer.twig' %}
