<footer class="page-footer page-footer-small">
    <div class="footer-copyright">
        <div class="container">
            © 2017 <a href="mailto:mikhaltchenkov@gmail.com" class="grey-text text-lighten-2">Mikhaltchenkov Dmitry</a>
        </div>
    </div>
</footer>
<script language="JavaScript">$(".button-collapse").sideNav();</script>
</body>
</html>