<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Frequently Asked Questions</h5>
                <p class="grey-text text-lighten-4">Данная система разработана в рамках выполнения дипломного проекта в
                    Нетологии по курсу "PHP/SQL: back-end разработка и базы данных". Система разработана с
                    использованием PHP фреймворка <a href="https://laravel.com/" class="grey-text text-lighten-2">Laravel</a>
                    и CSS фреймворка <a href="http://materializecss.com/" class="grey-text text-lighten-2">MaterializeCSS</a></p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="white-text" href="https://vk.com/id416654550">ВКонтакте</a></li>
                    <li><a class="white-text" href="https://www.linkedin.com/in/dmitry-mikhaltchenkov-62856a12a">Linkedin</a></li>
                    <li><a class="white-text" href="https://www.facebook.com/mikhaltchenkov">Facebook</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2017 <a href="mailto:mikhaltchenkov@gmail.com" class="grey-text text-lighten-2">Mikhaltchenkov Dmitry</a>
        </div>
    </div>
</footer>
<script language="JavaScript">$(".button-collapse").sideNav();</script>
</body>
</html>