{% include 'layouts/header.twig' %}
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">Система ЧаВо</a>
            <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a href="{{ route('front.create') }}">
                        Задать вопрос
                    </a>
                </li>
                <li>
                    <a href="{{ route('login') }}">
                        Вход
                    </a>
                </li>
            </ul>
            <ul class="side-nav" id="mobile-menu">
                <li>
                    <a href="{{ route('front.create') }}">
                        Задать вопрос
                    </a>
                </li>
                <li>
                    <a href="{{ route('login') }}">
                        Вход
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</div>
