{% include 'layouts/header.twig' %}
<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">Система ЧаВо</a>
            <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a href="{{ route('threads') }}">Темы</a></li>
                <li><a href="{{ route('questions') }}">Вопросы</a></li>
                <li><a href="{{ route('users') }}">Администраторы</a></li>
                <li><a href="{{ route('peoples') }}">Посетители</a></li>
                <li>
                    <a href="{{ route('logout') }}"
                       onclick="event.preventDefault();document.getElementById('logout-form').submit();">
                        Выход
                    </a>

                    <form id="logout-form" action="{{ route('logout') }}" method="POST"
                          style="display: none;">
                        {{ csrf_field() }}
                    </form>
                </li>
            </ul>
            <ul class="side-nav" id="mobile-menu">
                <li><a href="{{ route('threads') }}">Темы</a></li>
                <li><a href="{{ route('questions') }}">Вопросы</a></li>
                <li><a href="{{ route('users') }}">Администраторы</a></li>
                <li><a href="{{ route('peoples') }}">Посетители</a></li>
                <li>
                    <a href="{{ route('logout') }}" onclick="event.preventDefault();document.getElementById('logout-form').submit();">
                        Выход
                    </a>

                    <form id="logout-form" action="{{ route('logout') }}" method="POST"
                          style="display: none;">
                        {{ csrf_field() }}
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</div>
